[defaults]
inventory = ./inventory.yml
host_key_checking = False
remote_user = root
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S
retry_files_enabled = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts
fact_caching_timeout = 3600

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = True